/*container-fluid*/
.fgh{
text-align: center;
font-size:30px;
color:white;
font-weight:400;
background-color:#175db2ff;
}
/*content-box*/
.ch{
    background-color:white;
    border-radius:3%;
    margin-top:2%

}
/*input type */
.fd{
    background-color:grey;
    margin-left:40%;
    margin-top:2%
}
.kd{
    margin-left:30%;
    margin-top:2%

}

